.aboutBody {
    text-align: center;
    display: flex;
    transform: translateY(20vh);
}

.aboutContent {
    text-align: left;
    width: 80vw;
    margin: 0 auto;
}

.title {
    font-size: 10vh;
    color: var(--main-color);
    letter-spacing: 0.05cm;
    line-height: 100%;
    padding: 0px;
    margin: 5px;
}

.secTitle {
    font-size: 3vh;
    color: var(--sec-color);
    line-height: 100%;
    padding: 0px;
    margin: 5px;
    letter-spacing: 0.05cm;
}