:root {
    --main-color: #1E3D40;
    --sec-color: #5D7565;
    --accent-color: #FF9900;
}

/*position, height, and weight makes div occupy full screen*/
body {
    font-family: "Poppins", sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
}

.pageLink {
    font-size: 2.5vh;
    text-decoration: none;
    color: white;
}

.linksGroup {
    margin-top: 30px;
    margin-bottom: 30px;
}

.linkOuter {
    background-color: var(--sec-color);
    width: 120px;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
}

.linkOuter:hover {
    background-color: var(--accent-color);
}

.navBar {
    background-color: white;
    text-align: left;
    margin-left: 5vw;
}

.navBar:hover .content {
    display: none;
}

.navLink {
    font-size: 2.5vh;
    font-weight: bold;
    margin: 0px;
    padding: 30px;
    padding-left: 0px;
    text-decoration: none;
    color: var(--main-color);
    display: inline-block;
}

.navLink:hover {
    color: var(--accent-color);
}

.navLink:hover .overlay {
    display: block;
}

.dropdown {
    display: inline-block;
}

.dropdown:hover {
    height: 40vh;
}

.dropdownContent {
    text-align: left;
    position: absolute;
    display: none;
    background-color: white;
}

.dropdownContent a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 2.5vh;
}

.dropdownContent a:hover {
    color: var(--accent-color);
}

.dropdown:hover .dropdownContent{
    display: block;
    background-color:white;
    left: 5vw;
}
