.pageBody {
    text-align: center;
    display: flex;
}

.pageContent {
    text-align: left;
    width: 70%;
    margin: 0 auto;
}

.headings {
    margin-bottom: 30px;
    margin-top: 30px;
}

.header {
    font-size: 2vw;
    font-weight: bold;
    color: var(--main-color);
    margin: 0px;
}

.subHeader {
    font-size: 1.5vw;
    color: var(--sec-color);
    margin: 0px;
}

.description {
    font-size: 1.5vw;
    color: var(--main-color);
}

.figmaWindow {
    width: 100%;
    height: 500px;
    border: 0px;
}