.pageContainer {
    float: right;
    margin: 5px;
    transform: translateY(50%);
}

.welcomeCard {
    margin: 5px;
    text-align: right;
    height: 100%;
    display: inline-block;
}

.header {
    font-size: 72px;
    color: var(--main-color);
    font-weight: bold;
    letter-spacing: 0.05cm;
    line-height: 100%;
    padding: 0px;
    margin: 5px;
}

.subHeader {
    font-size: 18px;
    color: var(--sec-color);
    line-height: 100%;
    padding: 0px;
    margin: 5px;
}

.nextPage {
    margin: 50px;
    display: inline-block;
}

.nextIcon {
    text-decoration: none;
    font-size: 150px;
    color: var(--main-color);
    margin: 5px;
}

.nextIcon:hover {
    color: var(--accent-color);
}